
@{
    ViewData["Title"] = "Index";
}
<div class="text-right mb-3">
    <a asp-controller="Dashboard" asp-action="listusers" class="btn btn-secondary text-white">
        Users
    </a>
</div>
<div class="text-right mb-3">
    <a asp-controller="Dashboard" asp-action="listproducts" class="btn btn-secondary text-white">
        Products
    </a>
</div>

